{% extends "base.html"%} {%block content %}

<div class="container-fluid h-100">
  <div class="row h-100">
    <!-- left panel -->
    <div class="menu-box sidebar p-3 h-100 d-flex flex-column">
      <!-- top content -->
      <div class="text-white">
        <div class="welcome-txt">Hello, <b>{{user_name}}</b></div>

        <form action="{{ url_for('add_plan') }}" method="post">
          <button
            type="submit"
            class="add-plan-btn"
            name="action"
            onclick="this.blur()"
          >
            + Add a Plan
          </button>
        </form>

        <div class="collapse" id="collapsedDiv"></div>
      </div>

      <!-- spacer div -->
      <div class="flex-grow-1"></div>

      <div><hr class="thick m-0" /></div>

      <!-- logout button -->
      <a href="{{ url_for('logout')}}" style="text-decoration: none">
        <button type="submit" class="btn" name="action" onclick="this.blur()">
          <svg
            class="logout-icon"
            viewBox="0 0 24 24"
            fill="none"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
            <path
              d="M10 12H20M20 12L17 9M20 12L17 15"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Logout
        </button>
      </a>
    </div>

    <!-- RIGHT CONTENT -->
    <div
      class="postit-box col h-100 d-flex align-items-start justify-content-start"
    >
      <div
        class="col-12 col-md-10 h-100 d-flex align-items-start justify-content-start"
      >
        <div
          class="postit col h-100 d-flex flex-wrap align-items-start justify-content-start pt-4"
        >
          {% for plan in plans %}
          <div
            style="
              width: 80px;
              height: 80px;
              background-color: red;
              margin: 20px;
              border-radius: 8px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            Plan #{{ plan.id }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
