{% extends "base.html" %} {% block content %}

<div
  class="flex-column d-flex align-items-center justify-content-center flex-grow-1"
>
  <div class="d-flex flex-column align-items-center gap-3">
    <h3 class="chalk auth-title align-self-start">Welcome back!</h3>
    <div class="signin-box">
      <form action="" method="post">
        <label for="name" class="signin-label">Name:</label>
        <input class="signin-input" type="text" id="name" name="name" />
        <br /><br />
        <label for="email" class="signin-label">Email:</label>
        <input class="signin-input" type="email" id="email" name="email" />
        <br /><br />
        <label for="password" class="signin-label">Password:</label>
        <input
          class="signin-input"
          type="password"
          id="password"
          name="password"
        /><br /><br /><br />
        <div class="d-flex justify-content-center mb-3">
          <input
            class="signin-btn"
            type="submit"
            id="send-signin"
            name="signin"
            value="Sign in"
          />
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="flex-grow-1"><hr class="thick m-0" /></div>
          <div class="px-3 fw-bold or-text">or</div>
          <div class="flex-grow-1"><hr class="thick m-0" /></div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button type="submit" class="btn" name="signup-btn" value="signup" onclick="this.blur();">
            Create an account
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
